:root {
    main.page__user-torrents--index td.user-torrents__seedtime span.text-red::before {
        font-family: FontAwesome;
        content: "\f00d";
    }
    main.page__user-torrents--index td.user-torrents__seedtime span.text-green::before {
        font-family: FontAwesome;
        content: "\f00c";
    }
}
